@page "/BlazorComponents"

<h3>BlazorComponents</h3>

@* <Router></Router> *@
@* <CascadingValue></CascadingValue> *@
@* <EditForm></EditForm> *@
@* <InputCheckbox></InputCheckbox> *@
@* <InputDate></InputDate> *@
@* <InputNumber></InputNumber> *@
@* <InputSelect></InputSelect> *@
@* <InputText></InputText> *@
@* <LayoutView></LayoutView> *@
@* <NavLink></NavLink> *@
@* <RouteView></RouteView> *@
@* <ValidationMessage></ValidationMessage> *@
@* <ValidationSummary></ValidationSummary> *@
@* <DataAnnotationsValidator></DataAnnotationsValidator> *@
@* <InputTextArea></InputTextArea> *@

@code {
	
}