<img src="img/404.png" alt="error image">
<h2 class="text-red">Caution! This Page is Cordoned Off</h2>
<p>The earthquake was not good to the bike lane on your way to work. A large gap in the pavement (too big to be called a pothole) had swallowed three oblivious bikers whole. So the city had put up two pylons and yellow caution tape. Pretty frustrating for you given your propensity to do 360 jumps over the gap.</p>